<div class="row">
  <div class="col-md-3">
    <div class="center">
      <!-- avatar -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Verification
      </div>
      <div class="panel-body">
        Email Address<br/>
        Location
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.email %></h2>
    <div class="description row-space-3">
      <%= @user.description %>
    </div>
  </div>
</div>
