<% @games.each do |game| %>
<div class="col-md-3 text-center">
  <div class="panel panel-default">
    <%= image_tag game.screenshots[0].image.url(), height: '150', width: '200' %>
      <div class="panel-heading">
        <%= link_to game.title, game_path(game.id), class: "home_page_text"  %>
      </div>
  </div>
</div>
<% end %>
