<div class="row">
  <div class="col-md-12">
    <div class="center">
      <!-- avatar -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Screenshots
      </div>
      <div class="panel-body">
        <%= form_for @game, url: game_screenshots_path(@game), method: 'post', html: {multipart: true} do |f| %>
          <div class="row">
            <div class="form-group">
              <span class="btn btn-default btn-file text-babu">
                Select Screenshots
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>
          </div>
          <div class="text-center">
            <br>
            <%= f.submit "Add screenshots", class: "btn btn-form" %>
          </div>
        <% end %>

        <div id="screenshots"><%= render 'screenshot_list' %></div>
    </div>
  </div>
</div>
</div>
