<div class="row">
<%= render partial: "games_menu" %>
<!-- middle panel -->
  <div class="col-md-9" data-id="<%= "#{params[:id]}"%>">
    <a href ="#" class="js-prev-games btn btn-secondary" style ="float: left; font-size: 3em; color: Black">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> </a>
    <a href ="#" class="js-next-games btn btn-secondary" style ="float: right; font-size: 3em; color: Black">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </a>
      <%= render partial: "game_panel" %>
  </div>
</div>
